/** 
* Component for displaying realtor data each at at time.
*/

<template>
  <div>
    <!--The id is the url-ending which is stored in th beforeMount -->
    <AgentCard v-bind:agent="agents[id]" />
  </div>
</template>

<script>
import AgentCard from "../components/AgentCard.vue";
import json from "../assets/house_data.json";

export default {
  name: "Agent",
  components: {
    AgentCard,
  },
  data() {
    return {
      agent: [],
      id: Number,
    };
  },
  created() {
    let agentArray = [];

    json.forEach((agent) => {
      agentArray.push(agent);
    });

    this.agents = agentArray;
  },
  beforeMount() {

    /**
     * Before the view is mounted,the param id of the url is    * stored in he id Number constructor. 
     */

    this.id = this.$route.params.id - 1;
  },

  mounted() {},
};
</script>

<style scoped>
</style>