<template>
  <div class="home">
    <HouseCard
      v-for="listing in listings"
      v-bind:key="listing.id"
      :listing="listing"
      class="housecard"
    />
  </div>
</template>

<script>
import HouseCard from "../components/HouseCard.vue";

export default {
  name: "Home",
  components: {
    HouseCard,
  },
  data() {
    return {
      listings: this.$store.state.houses,
    };
  },
};
</script>

<style scoped>
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
}

.housecard {
  margin: 1em;
  justify-self: center;
}
</style>
