<template>
  <div v-if="loaded" class="main">
    <Carousel :propListing="listingObject" />
    <HouseDescription :realtorInformation="realtor[0]" :houseInformation="listingObject[0]" />
  </div>
</template>

<script>
import Carousel from "../components/Carousel";
import HouseDescription from "../components/HouseDescription";

export default {
  components: {
    Carousel,
    HouseDescription,
  },
  name: "Listing",
  data() {
    return {
      listingObject: null,
      realtor: null,
      loaded: false,
    };
  },
  mounted() {
    let allListings = this.$store.state.houses;

    let listObject = allListings.filter((obj) => {
      return obj.houseId == this.$route.params.id;
    });
    this.listingObject = Object.assign({}, listObject);

    this.realtor = this.$store.state.realtors.filter((realtor) => {
      return realtor.id === listObject[0].agentId;
    });

    this.loaded = true;
  },
};
</script>

<style scoped>
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>