<template>
  <div>
    <!-- The first jumbotron-bar that displays the Agent only. 
    with corresponding first and last name. 
    
    The function getImgUrl is to fetch/require the Agent-picture from the /public folder, with a dynamic variable in the img.src.  -->
    <b-jumbotron class="head" :header="agent.first_name + ' ' + agent.last_name">
      <img id="face" :src="getImgUrl(agent.id)" v-bind:alt="agent.id" />
      <ul class="a">
        <li>Phone number: {{ agent.telephone }}</li>
        <li>Email: {{ agent.email }}</li>
      </ul>
    </b-jumbotron>
<!--Part two is for the agent's house listings.  -->
    <b-jumbotron class="small" v-for="listing in houses" v-bind:key="listing.id">
      <router-link :to="{name: 'Listing', params: {id: listing.houseId}}">
        <h1>{{ listing.address }}</h1>
        <img :src="listing.images[0]" />
      </router-link>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: "AgentCard",
  props: {
    agent: Object,
  },
  data() {
    return {
      houses: null,
    };
  },
  // To collect the correct houses for the agent in question, the full state of the house is store in houseObject.

  mounted() {
    let houseObject = this.$store.state.houses.filter((agentFilter) => {
      return agentFilter.agentId == this.agent.id;
    });
    this.houses = houseObject;
  },
  //Function for require picture from public folder
  methods: {
    getImgUrl(pic) {
      console.log(pic);
      return require("../../public/" + pic + ".jpg");
    },
  },
};
</script>

<style scoped>
h1 {
  text-align: center;
}
.a {
  font-size: 16px;
}
.head {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTiTpZCXxVqRaJDr2KYJSJ9z7WQn0-bJdYrQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100%;
  color: aliceblue;
}
.head #face {
  max-width: 150px;
}
.small {
  background-color: honeydew;
  max-width: 20%;
  height: 400px;
  margin-right: 5%;
  text-align: left;
  float: left;
}
.small img {
  max-height: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
p {
  float: left;
}
</style>