<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="500"
      img-height="280"
      style="text-shadow: 1px 1px 2px #333;"
    >
      <!-- Text slides with image -->
      <b-carousel-slide v-for="listImg in listing[0].images" v-bind:key="listImg.id">
        <template v-slot:img>
          <img class="h-50" :src="listImg" alt="image slot" />
        </template>

        <h1>Verry nice picture</h1>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  props: ["propListing"],
  data() {
    return {
      listing: this.propListing,
      slide: 0,
    };
  },
};
</script>

<style scoped>
.b-carousel {
  max-width: 200px !important;
}
</style>