<template>
  <div class="house-description">
    <h2>{{ address }}</h2>
    <p>{{ text }}</p>

    <h4>Realtor Information</h4>

    <p><b>Name:</b> {{ firstName }} {{ lastName }}, </p>
    <p><b>Phone:</b> {{ phone }},</p>
    <p><b>Email:</b> {{ email }}</p>
    <br>
    <router-link :to="{name: 'Agent', params: {id: realtorId}}">
      <b-button variant="secondary">All listings by {{firstName}}</b-button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "HouseDescription",
  props: ["houseInformation", "realtorInformation"],
  data() {
    return {
      address: this.houseInformation.address,
      text: this.houseInformation.description,
      latitude: this.houseInformation.latitude,
      longitude: this.houseInformation.longitude,
      firstName: this.realtorInformation.firstName,
      lastName: this.realtorInformation.lastName,
      phone: this.realtorInformation.phone,
      email: this.realtorInformation.email,
      realtorId: this.realtorInformation.id,
    };
  },
};
</script>

<style scoped>
.house-description {
  border: 2px solid rgb(146, 146, 146);
  align-self: center;
  padding: 1rem;
  margin: 2rem;
  max-width: 60%;
  background-color: rgb(223, 223, 223);
}
h4 {
  margin-bottom: 1em;
}
</style>