<template>
  <div>
    <b-jumbotron class="jumbo" :header="listing.address" :lead="listing.description">
      <img class="jumbo-img" src="https://thisrentaldoesnotexist.com/img-new/img1.jpg" alt="" srcset="">

      <router-link :to="{name: 'Listing', params: {id: listing.houseId}}">
        <b-button variant="primary">Check it out!</b-button>
      </router-link>
      
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: "HouseCard",
  props: {
    listing: Object,
  },
};
</script>

<style scoped>

.jumbo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.jumbo-img {
  position: absolute;
  align-self: flex-end;
  max-width: 250px;
}
p {
  max-width: 60%;
}

button {
  margin: 5px;
}
</style>