<template>
  <div>
    <b-navbar variant="light" type="light">
      <b-navbar-brand tag="h1" class="mb-0">
        <router-link to="/">Home Net</router-link>
      </b-navbar-brand>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {};
  },
};
</script>