<template>
  <div id="app">
    <NavBar />
    <router-view />
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
import json from "./assets/house_data.json";

export default {
  components: {
    NavBar,
  },
  created() {

    /**
     * When the application instance is crated we load the jsonfile and 
     * divie the information in two arrays. One for agents and one for houses.
     * We also give houses a unique id in the process.
     */

    let houses = [];
    let realtors = [];

    let houseId = 0;
    json.forEach((agent) => {
      const realtor = {
        id: agent.id,
        firstName: agent.first_name,
        lastName: agent.last_name,
        phone: agent.telephone,
        email: agent.email,
        picture: agent.profile_image,
      };

      realtors.push(realtor);

      agent.listings.forEach((listing) => {
        listing.houseId = ++houseId;
        listing.agentId = agent.id;
        houses.push(listing);
      });
    });

    this.listings = houses;

    // mutate the data in the store
    this.$store.commit('setHouses', houses);
    this.$store.commit('setRealtors', realtors)
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
